<!doctype html>
<head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3 class='white'>News Stories</h3>
            
            <% if (user.local.email) { %>
              <form action="/messages" method="POST">
                <!-- <input type="text" value="<%= user.local.email %>" name="name"> -->
                <input type="text" placeholder="Search News Story" name="msg">
                <button type="submit">Submit</button>
            <ul class="messages">
            
              <li>
                <span class="message1 msg"></span>
                
                <span><i class="far fa-star" aria-hidden="true"></i></span>      

              </li>
              <li>
                <span class="message2 msg"></span>

                <span><i class="far fa-star" aria-hidden="true"></i></span>      
         
              </li>
              <li>
                <span class="message3 msg"></span>

                <span><i class="far fa-star" aria-hidden="true"></i></span>      
 
              </li>
              <li>
                <span class="message4 msg"></span>
      
                <span><i class="far fa-star" aria-hidden="true"></i></span>      
     
              </li>
              <li>
                <span class="message5 msg"></span>
      
                <span><i class="far fa-star" aria-hidden="true"></i></span>      
            
              </li>
        
           
            </ul>
            </form>
          </div>
          <% } %>
          <section class = "saved">
          <h3>Saved Messages</h3>
          <ul class="messages12">
          <% for(var i=0; i<newsArticles.length; i++) {%>
            <li class="message1">
              <span><%= newsArticles[i].msg %></span>
              
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
        </section>
       
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default unlink">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
          </div>
  
        </div>
        </div>

      </div>
</div>
<script src="main.js"></script>

</body>
</html>
