<!doctype html>
<head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3 class='white'>News Stories</h3>
            
            <% if (user.local.email) { %>
              <form action="/messages" method="POST">
                <!-- <input type="text" value="<%= user.local.email %>" name="name"> -->
                <input type="text" placeholder="Search News Story" name="msg">
                <button type="submit">Submit</button>
            <ul class="messages">
            
              <li>
                <span class="message1 msg"></span>
                
                <span><i class="far fa-star" aria-hidden="true"></i></span>      

              </li>
              <li>
                <span class="message2 msg"></span>

                <span><i class="far fa-star" aria-hidden="true"></i></span>      
         
              </li>
              <li>
                <span class="message3 msg"></span>

                <span><i class="far fa-star" aria-hidden="true"></i></span>      
 
              </li>
              <li>
                <span class="message4 msg"></span>
      
                <span><i class="far fa-star" aria-hidden="true"></i></span>      
     
              </li>
              <li>
                <span class="message5 msg"></span>
      
                <span><i class="far fa-star" aria-hidden="true"></i></span>      
            
              </li>
        
           
            </ul>
            </form>
          </div>
          <% } %>
          <section class = "saved">
          <h3>Saved Articles</h3>
          <ul class="messages12" id="savedMessages">
          <% for(var i=0; i<newsArticles.length; i++) {
            let beginLink = newsArticles[i].msg.indexOf('https://')
            console.log("urlbegins@position", beginLink)
            let article = newsArticles[i].msg.substring(0,beginLink);
            let link = newsArticles[i].msg.substring(beginLink);
            console.log(article)
            console.log(link)
            %>
            <!-- attached data to LI so I can grab it later to delete article data-messageId -->
            <li class="message1" data-messageid="<%= newsArticles[i]._id %>">
              <span><%= article %></span>
              <a href="%= link"></a>
              
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
        </section>
       
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default unlink">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
          </div>
  
        </div>
        </div>

      </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
<script>
  //conect for the connection for client and server side (socket)
  //allows access to the socket on the server
var socket = io("http://localhost:8080")
socket.on('connection', function(){
  console.log("client: connected on the server")
  alert("client: connected to server socket")
})

socket.emit("news","hello from my ejs file")
socket.on("news", function(m) {
  console.log(m);
  console.log("client: message from server, wow")
})
socket.on("disconnect", function(){
 console.log("client: disconnect from socket") 

})
</script>


</body>
</html>
